.card-user-info {
  background-color: white;
  border: none;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
}

.card-user-info-header {
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem 0;
}