<!-- {{name}}<p>user-list works!</p>

{{event |json}}

<div *ngFor="let user of users">{{user.userName}}<button (click)="updateUser(user.id)" type="button">Editar</button>
</div> -->

  <!-- submenu -->

<!-- <section class="container">
  <div class="row mt-2 text-center align-items-center">
    <div class="col-6">
      <h2 class="">Lista de usuarios</h2>
      <div class="decoratorTitle"></div>
    </div>
    <div class="col-6">
      <button class="btn-primary" type="button" (click)="openModal()">Agregar usuario</button>
    </div>
  </div> -->

  <!-- content-list -->
  <div class="container-user-info ">
    <div class="mt-3 container-user-info-size">
      <div class="card-user-info mb-1 mr-1 ml-1" *ngFor="let user of users">
        <div class="card-user-info-header" (click)="toggleShowList(user.id)">
          <div class="row">
            <div class="col-6">
              <h4>Nombre: {{user.fullName}}</h4>
            </div>
            <div class="col-6 text-right">
              <img class="img-arrow-down {{itemSelected && itemSelectedID === user.id ? 'transformed': ''}}"
                src="./assets/img/arrow-down.svg" alt="arrow-down">
            </div>
          </div>
        </div>
        <div class="card-user-info-body" *ngIf="itemSelected && itemSelectedID === user.id">
          <div>{{user.id}}</div>
          <div>{{user.email}}</div>
        </div>
      </div>
    </div>
  </div>
<!-- </section> -->



<!-- practice modal -->

<!-- The Modal -->

<!-- practice modal -->
