@import 'src/scss/module/container/container.scss';
@import 'src/scss/module/container/container-user-info.scss';
@import 'src/scss/module/button/button.scss';
@import 'src/scss/module/text/title.scss';
@import 'src/scss/module/card/card-user-info.scss';
@import 'src/scss/module/img/icons.scss';
@import 'src/scss/module/form/forms.scss';
@import 'src/scss/module/modal/modal.scss';

input[type=checkbox] {
  position: relative;
  cursor: pointer;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  border: 2px solid $color-black;
  border-radius: 3px;
  background-color: white;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 3px;
  height: 9px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 5px;
}
