<div class="card-user-info mb-1 mr-1 ml-1">
  <div class="card-user-info-header" (click)="toggleShowMore()">
    <div class="row">
      <div class="col-6">
        <h4>Nombre de usuario: {{ user.username }}</h4>
      </div>
      <div class="col-6 text-right">
        <img class="img-arrow-down" [ngClass]="{ transformed: isOpen }" src="./assets/img/arrow-down.svg"
          alt="arrow-down" />
      </div>
    </div>
  </div>
  <div class="card-user-info-body" *ngIf="isOpen">
    <div class="mt-1">ID: {{ user.id }}</div>
    <div class="mt-1">Nombre completo: {{ user.fullname }}</div>
    <div class="mt-1">Correo electrónico: {{ user.email }}</div>
    <div class="mt-1">Dirección: {{ user.address }}</div>
    <div class="mt-1 d-flex align-items-center">Contraseña:
      <span class="{{typePassword ? '' : 'password'}} ml-1">{{user.password}}</span>
      <span class="ml-1" (click)="showPass()"><img width="20px"
          src="{{typePassword ?'./assets/img/eye-hidden.svg': './assets/img/eye.svg'}}" alt="eye"></span>
    </div>
    <div class="mt-1">Estado: {{user.enabled ? 'HABILITADO': 'INHABILITADO'}}</div>
    <div class="text-center text-error text-error-form mt-1" *ngIf="removeSelected">
      <div>¿Estás seguro de eliminar el usuario?</div>
      <div class="row mt-1">
        <div class="col-6"><button class="btn-primary" type="button" (click)="showConfirmRemoveUser(false)">No</button>
        </div>
        <div class="col-6"><button class="btn-warning" type="button" (click)="remove(user.id)">Sí</button></div>
      </div>
    </div>
    <div class="card-user-info-footer mt-1" *ngIf="!removeSelected">
      <button class="btn-primary mx-1" type="button" (click)="update(user.id)">Editar</button>
      <button class="btn-primary mx-1" type="button" (click)="showConfirmRemoveUser(true)">Eliminar</button>
      <button class="btn-primary mx-1" type="button"
        (click)="enable(user.id)">{{user.enabled ?  'Inhabilitar': 'Habilitar'}}</button>
    </div>
  </div>
</div>
