<div class="modal" >
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="close.emit()">&times;</span>
      <h2 class="text-center">{{title}}</h2>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" (submit)="validateSubmit()">
        <div class="form-control">
          <label for="username">Nombre de usuario <small class="text-error">*</small></label>
          <input formControlName="username" type="text" id="username" />
        </div>
        <div *ngIf="form.controls.username.errors  && sentForm">
          <p class="text-error mt-1 text-center" *ngIf="form.controls.password.errors.required">El nombre de usuario
            es requerido</p>
        </div>
        <div class="form-control">
          <label for="password">Contraseña <small class="text-error">*</small></label>
          <input formControlName="password" type="password" id="password" />
          <div *ngIf="form.controls.password.errors  && sentForm">
            <p class="text-error mt-1 text-center" *ngIf="form.controls.password.errors.minlength">La contraseña
              debe tener
              6 a más
              caracteres</p>
            <p class="text-error mt-1 text-center" *ngIf="form.controls.password.errors.passwordIsUnsafe 
            && !form.controls.password.errors.minlength">La contraseña debe tener al menos una letra
              minuscula, una mayúscula y un caracter especial
            </p>
          </div>
        </div>
        <div class="form-control">
          <label for="fullname">Nombre Completo <small class="text-error">*</small></label>
          <input formControlName="fullname" type="text" id="fullname" />
        </div>
        <div class="form-control">
          <label for="email">Correo</label>
          <input formControlName="email" type="text" id="email" />
        </div>
        <div class="form-control">
          <label for="address">Dirección</label>
          <input formControlName="address" type="text" id="address" />
        </div>
        <div class="align-items-center">
          <input formControlName="enabled" type="checkbox" id="enabled" class="pl-0 ml-0" />
          <label for="enabled" class="">Habilitado</label>
        </div>
        <div *ngIf="form.errors  && sentForm">
          <p class="text-error mt-1 text-center" *ngIf="form.errors.required">
            Completa los campos requeridos
          </p>
        </div>
        <div class="text-center mt-2">
          <button class="button btn-primary"
           >{{buttonText}}
          </button>
        </div>
      </form>
    </div>
    <div class="modal-footer text-center">
    </div>
  </div>
</div>
