/* Margin and Padding */

$spaceamounts: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
$sides: (top, bottom, left, right);

// margin
@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}rem !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}rem !important;
    }
  }
}

/* Width SVG - rem */
@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem !important;
  }

  .p-#{$space} {
    padding: #{$space}rem !important;
  }

  .mx-#{$space} {
    margin: 0 #{$space}rem !important;
  }

  .my-#{$space} {
    margin: #{$space}rem 0 !important;
  }

  .px-#{$space} {
    padding: 0 #{$space}rem !important;
  }

  .py-#{$space} {
    padding: #{$space}rem 0 !important;
  }
}


// width && height
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100% !important;
}


// display 
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline-block;
}


// flex
.d-flex {
  display: flex;
}

// align content space between
.space-between {
  -webkit-align-content: space-between;
  align-content: space-between;
}


// float
.float-left {
  float: left;
}

.float-right {
  float: right;
}


// padding
.p-l {
  padding-left: 0 !important;
}

.p-r {
  padding-right: 0 !important;
}

.p-x {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


// text-align
.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.strong {
  font-weight: 600;
}


.pointer {
  cursor: pointer;
}


// align-items
.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}
