<section class="container">
  <div class="row mt-2 text-center align-items-center">
    <div class="col-6">
      <h2 class="">Lista de usuarios</h2>
      <div class="decoratorTitle"></div>
    </div>
    <div class="col-6">
      <app-button
      [class]="'btn-primary'"
      [text]="'Crear usuario'"
      (customClick)="toggleShowModalCreate()"
    ></app-button>
    </div>
    <!-- src="http://localhost:4200/admin/list-users" -->
    <iframe
    #listUsers
    src="https://users-administrator.firebaseapp.com//admin/list-users"
    frameborder="0"
    class=" col-12"
    style="height: 80vh;"
  ></iframe>
  </div>

</section>

<app-modal
  *ngIf="modalActive"
  (close)="toggleShowModal()"
  [title]="currentModal.title"
>
  <app-form content></app-form>
  <ng-container footer>
    <app-button
      [class]="'button btn-primary'"
      [text]="currentModal.buttonText"
      [disabled]="false"
      (customClick)="do()"
    ></app-button>
  </ng-container>
</app-modal>

