// fonts
$font-regular: 'NunitoSans-Regular';
$font-bold: 'NunitoSans-Bold';

// colors
$color-green: #40e0d0;
$color-gray: gray;
$color-gray-ligth: gray;
$color-purple: #ffd5e5;

// pallete colors

$color-primary: #29a19c;
$color-black: #393e46;