// fonts
$font-regular: 'NunitoSans-Regular';
$font-bold: 'NunitoSans-Bold';

// colors
$color-green: #40e0d0;
$color-gray: #e8e8e8;
$color-gray-ligth: #ececec;
$color-purple: #ffd5e5;

// pallete colors

$color-primary: #29a19c;
$color-black: #393e46;
$color-red:#e3342f;