@import 'src/scss/variables.scss';

.container-user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-user-info-size {
  width: 100%;
}

@media (min-width: 600px) {
  .container-user-info-size {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .container-user-info-size {
    width: 60%;
  }
}
